/* ProductList.css */

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Product {
  width: calc(33.33% - 20px); /* Ширина каждого продукта на 33.33% минус отступы между ними */
  margin-bottom: 20px;
}

.Product img {
  width: 100%;
  height: auto;
}

.Product a {
  text-decoration: none;
  color: #333;
}

.Product a:hover {
  text-decoration: underline;
}

.Product span {
  display: block;
  margin-top: 10px;
}

.Product__price {
  font-weight: bold;
}

.Product button {
  margin-top: 10px;
}

.AddProduct {
  margin-top: 20px;
}
