  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Nerko+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,700&family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400&family=Sono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Freehand&family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');



  body {
    margin: 0;
    font-family: "Rokkitt", serif;
    font-weight: 600;
    background: #DCE8F2;
    transition: all 3ms ease;
    color: #7790A6;

  }

  .Product img {
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
  }

  .Product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Product__image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  .Product__price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  /* Delivery.css */
.delivery-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.delivery-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.delivery-text {
  margin-bottom: 15px;
  color: #666;
}

.delivery-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.delivery-option {
  width: calc(33.333% - 20px);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.delivery-option-heading {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.delivery-option-text {
  margin-top: 10px;
  color: #666;
}


  .contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-info {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-details {
    margin-bottom: 20px;
  }
  
  .contact-subheading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .contact-container {
      padding: 10px;
    }
    
    .contact-heading {
      font-size: 20px;
    }
  
    .contact-info {
      font-size: 14px;
    }
  
    .contact-subheading {
      font-size: 18px;
    }
  
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
      font-size: 14px;
    }
  
    .contact-form button {
      font-size: 14px;
    }
  }
  
.about-us-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.about-us-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-us-banner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-us-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.about-us-content article  p h2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.about-us-visit {
  text-align: center;
  margin-bottom: 40px;
}

.about-us-accordion {
  margin-bottom: 40px;
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-button {
  width: 100%;
  padding: 15px;
  text-align: left;
  background: #f7f7f7;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.accordion-button.active,
.accordion-button:hover {
  background-color: #e7e7e7;
}

.accordion-content {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #fff;
}

.accordion-content.active {
  padding: 15px;
  max-height: 150px; /* Adjust based on content length */
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  padding: 20px;
  max-width: 300px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-us-container {
    padding: 10px;
  }

  .about-us-header h1 {
    font-size: 1.5em;
  }

  .about-us-header p {
    font-size: 1em;
  }

  .accordion-button {
    padding: 10px;
  }

  .accordion-content {
    padding: 10px;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .about-us-header h1 {
    font-size: 1.2em;
  }

  .about-us-header p {
    font-size: 0.9em;
  }

  .card {
    padding: 15px;
  }
}

  

  /* Base styles */
  .Home {
    padding-top: 40px;
    min-height: 100vh;
    background-color: #f5f5f5;
    border-radius: 12px;
    /* Light grey background to contrast the container */
  }

  .Home-container {
    margin: 0 auto;
    padding: 20px;
    color: #333;
    background-image: url(./assets/bluebg.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    /* Ensure background image covers the entire container */
    width: 90%;
    max-width: 1200px;
    /* Ensure it doesn't exceed 800px */
    border-radius: 10px;
    /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    background-color: rgba(255, 255, 255, 0.8);
    /* White background with slight transparency for text readability */
    transition: all 0.3s ease;
    /* Smooth transition for changes */
  }
  .Home-wrap{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
  }
  .home_left img{
    border-radius: 12px;
    overflow: hidden;
    width: 500px;
  }
  /* Responsive design */
  @media (max-width: 1200px) {
    .Home-container {
      width: 90%;
      /* Slightly larger width on larger screens */
    }
  }

  @media (max-width: 768px) {
    .Home-container {
      width: 95%;
      /* Increase width on tablet-sized screens */
      padding: 15px;
      /* Reduce padding */
    }
  }

  @media (max-width: 480px) {
    .Home-container {
      width: 100%;
      /* Full width on small screens */
      padding: 10px;
      /* Further reduce padding */
      font-size: 0.9rem;
      /* Slightly smaller text */
    }
  }



  .home-txt{
    width: 600px;
    line-height: 25px;
  }
  


  /* ThankYou.css */
.thank-you {
  text-align: center;
  margin-top: 50px; /* Add margin for spacing */
}

.thank-you-heading {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.thank-you-message {
  font-size: 18px;
  color: #666;
  margin-top: 20px; /* Add margin for spacing */
}
